*{
    margin :0;
    padding: 0;
    border:border-box;
}
body{
    background-color:black;
}

/* Navbar */
header::before{
    content:'';
    position:absolute;
   height:600px;
   width:100%;
    background-image:url("/images/home_bg.jpg");
    background-size:cover;
    z-index:-1;
    opacity:0.8;

}
#navbar{
    height:70px;
    width:100vw;
    color:white;
    display:flex;
      
}
.nav-links{
    width:75%;
    margin-left:30px;
   
}
.nav-links ul{
    height:70px;
    display:flex;
    list-style: none;
    align-items:center;
}
.nav-links ul li a{
    margin:0px 1.5rem;
    font-family: 'Bree Serif', serif;
    text-decoration:none;
    color:white;
  
}
/* Search bar */
.search-bar {
    display:flex;
    justify-content:center;
}
.search-bar{
    display:flex;
    justify-content:center;
    align-items:center;

}
.search-bar input{
    border:none;
    height:35px;
    width:250px;
    border-radius:8px;
    padding:0px 5px;;
    /* border-top-left-radius:8px;
    border-bottom-left-radius:8px; */
}
.search-bar i{
    background-color:transparent;
   display:flex;
   justify-content:center;
   align-items:center;
    height:35px;
    width:40px;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    cursor:pointer;
}
/* Home section */
#Home{
  display:flex;
  flex-direction:column;
}
.Home-section h1{
  
}

.Home-section{
    
}
/* Utility classes */
.h-primary{
    font-size:3.5rem;
    font-family: 'Bree Serif', serif;
}
.center{
    text-align:center;
}